<div class="container">
  <h1 class="text-center mt4 mb-4">Edit profile</h1>
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'shared/errors', object: @user %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "shadow p-3 mb-3 bg-info rounded" }) do |f| %>
        <div class="form-group">
          <%= f.label :avatar do %>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: 'text-white' %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'text-white' %>
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
          <small class="form-text text-light-gray"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: 'text-white' %>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
        </div>
        <div class="form-group">
          <%= f.label :current_password, class: 'text-white' %>
          <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
          <small class="form-text text-light-gray"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
        </div>
        <div class="form-group">
          <%= f.submit t('.update'), class: 'btn btn-outline-light' %>
        </div>
      <% end %>
      <div class="row justify-content-center">
        <p><%= t('.unhappy') %>? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: 'text-info' %>.</p>
      </div>
      <%= link_to t('.back'), :back, class: 'row justify-content-center text-info' %>
    </div>
  </div>
</div>
