<div class="text-center">
  <h1 class="text-center mt-4 mb-4">Tag: <%= @tag.name %></h1>
  <% if current_user && current_user.admin? %>
    <%= link_to 'Edit tag name', edit_tag_path(@tag), class: 'btn mb-4 btn-warning' %>
  <% end %>
</div>
<% if @adverts.any? %>
  <div class="row justify-content-center mt-4">
    <%= will_paginate(@adverts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
  <%= render @adverts %>
  <div class="row justify-content-center mt-4">
    <%= will_paginate(@adverts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
<% else %>
  <%= render 'tags/tag_jumb' %>
<% end %>
